.list-container{
    list-style-type: none;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.list-container li{
    margin: 5px;
}
.category-heading{
    font-size: 26px;
    font-weight:bold;
    font-family: "Roboto";
    
}