.footer-container {
  padding: 1.5rem 0;
  background-color: #f1f1f1;
  width: 100%;
  text-align: center;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.footer-icon {
  color: #000;
  margin: 0 0.5rem;
  transition: color 0.3s ease;
  text-decoration: none;
}

.footer-icon:hover {
  color: #007bff;
}


body.dark-theme .footer-container {
  background-color: #1a1a1a;
}

body.dark-theme .footer-icon {
  color: #ffffff;
}

body.dark-theme .footer-icon:hover {
  color: #ffc107;
}

@media (max-width: 480px) {
  .footer-icon {
    font-size: 1.3rem;
  }

  .icon-container {
    gap: 0.75rem;
    flex-wrap: wrap;
  }
}